<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="me.paulunger.android.tripletogglewidget" android:versionCode="2" android:versionName="0.2">
    <uses-sdk android:minSdkVersion="4"/>
    <application android:icon="@drawable/icon" android:label="@string/app_name" android:debuggable="false">
        <receiver android:name="me.paulunger.android.tripletogglewidget.AppWidget" android:label="@string/app_name" android:icon="@drawable/icon">
        	<intent-filter>
        		<action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
        		<action android:name="android.media.RINGER_MODE_CHANGED" />
        	</intent-filter>
        	<meta-data android:name="android.appwidget.provider" android:resource="@xml/widget_provider" />
        </receiver>
		<service android:name=".AppWidget$ToggleService" />
		<service android:name=".AppWidget$UpdateService" />
		<service android:name="me.paulunger.android.tripletogglewidget.AppWidget$InitService" />
    </application>
</manifest>